
@keyframes example {
  from {opacity:0}
  to {opacity:1}
}

.info{
top:50%;
left:15px;
padding:100px;
border-radius: 45px;
float:right;

position:fixed;

color:white;
width:250px;
height:250px;
text-align:center;
font-family: 'Josefin Sans', sans-serif;
font-weight: bolder;
display:block;

}




.pfp{
border-radius: 25px;
width:50px;
height:50px;
padding:10px; 

}
body{
background-color:black;


 scrollbar-color: black green;   /* scroll thumb and track */ 
}
.msg{
	left:20px;
	display: block;
	color:green;
	word-wrap: normal;
	font-weight:bolder;
	font-size:30px;
	font-family: 'Josefin Sans', sans-serif;
	padding-top:20px;
}
.superMsg{
	display: block;
	color:red;
	font-weight:bolder;
	font-size:30px;
	font-family: 'Josefin Sans', sans-serif;
	padding-top:20px;
}

.chat
{


	color:green;
	padding-left:10px;
	
	width:50%;height:75%; 
	font-size:30px;
	overflow-x:hidden;
	overflow-y:hidden;
	font-weight: bolder;
	overflow-anchor: bottom;
	border: 10px solid black;
	border-radius: 5px;
};
.imground{

  border-radius: 50%;

}

.gifts{
color:red;
float:center; 
font-family: 'Abril Fatface', cursive;
font-family: 'DynaPuff', cursive;
}

  input,button{
  font-size:20px;
  color:white;
  width:200px;
  float:center;
  
  border-radius: 12px;
  background-color:green;
  text-align:center;
  
  }
  
  #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
img{
border-radius: 4px;
width:100px;
height:100px;

}
	#myBtn:hover {
	background-color: #555;
	}
  .chatwindow{
  
  display:none;
  margin-left: auto;
  margin-right: auto;
  
  }
  .guestList{
	color:white;
	font-family: 'Abril Fatface', cursive;
	font-family: 'DynaPuff', cursive;
  }
  .introWindows{
  position:relative;
  
  
  color:red;
	top:50%;
	left:50%;
	
	right:50%;	
  width:300px;
  height:200px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  border-radius: 4px;
  }
  .img2{
  width:100px;
  height:100px;
  border-radius: 4px;
  }